@model IEnumerable<Common.DTOs.UsuarioDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuarios</h1>

<p>
    <a asp-action="Crear" class="btn btn-primary" title="Crear nuevo usuario">
        <i class="fa-solid fa-circle-plus"></i> Crear
    </a>
</p>

<div id="userContent">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="usersTableBody">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-warning btn-sm" title="Editar">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                        <a asp-action="Detalles" asp-route-id="@item.Id" class="btn btn-info btn-sm" title="Detalles">
                            <i class="fa-solid fa-book-open"></i>
                        </a>
                        <button class="btn btn-danger btn-sm delete-button" title="Eliminar" data-id="@item.Id" type="button">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/toastr/build/toastr.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/toastr/toastr.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/index-user.js"></script>
}

